{% extends "base.html" %}
{% block content %}
  {%if user_posts%}
  <h1 class="direction">blog posts!</h1>
  {%else%}
  {%if user_name%}
  <h3 class="direction">{{user_name}} has no posts to view</h3>
  {%else%}
  <h3 class="direction">No new posts to view</h3>
  {%endif%}
  {%endif%}
  {% for post in user_posts.items %}
  <div ><h3 id="title_time"><a href="/display_entry?date_time={{post.pub_date}}&hidden=0&email={{post.owner.email}}">
  {{post.title}}</a> </h3>&nbsp&nbsp posted at:&nbsp{{post.pub_date}}</div>
  <p><abbr title="{{post.body}}">{{post.body[0:70]}}...</p>
  <p class="author">written by <a href='/single_user_posts?email={{post.owner.email}}'>{{post.owner.user_name}}</a></p>
  {% endfor %}
  <hr><span class="author">more posts:</span>
  {% if single%}
    {% for page_num in user_posts.iter_pages()%}
        {%if page_num%}
          {%if  user_posts.page == page_num%}
            <a class="current_page" href="/single_user_posts?page={{page_num}}&email={{email}}">{{page_num}}</a>
          {%else%}
            <a href="/single_user_posts?page={{page_num}}&email={{email}}">{{page_num}}</a>
          {%endif%}
        {% else %}
          ...
        {% endif%}
    {% endfor %}

  {%else%}

    {% for page_num in user_posts.iter_pages()%}
        {%if page_num%}
          {%if  user_posts.page == page_num%}
          <a class="current_page" href="/all_posts?page={{page_num}}">{{page_num}}</a>
          {%else%}
          <a href="/all_posts?page={{page_num}}">{{page_num}}</a>
          {%endif%}
        {% else %}
          ...
        {% endif%}
    {% endfor %}

  {%endif%}


  {% if hidden_user_posts %}
  <hr>
  <h2>Hidden posts</h2>
  {% for post in hidden_user_posts %}
  <div ><h3 id="title_time"><a href="/display_entry?date_time={{post.pub_date}}&hidden=1&email={{post.owner.email}}">
  {{post.title}}</a> </h3>&nbsp&nbsp posted at:&nbsp{{post.pub_date}}</div>
  <p>{{post.body[0:70]}}...</p>
  <p class="author">written by <a href='/single_user_posts?email={{post.owner.email}}'>{{post.owner.user_name}}</a></p>
  
  {% endfor %}
  
  {% endif %}




{% endblock %}