<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
		<title>Build a Blog</title>
	</head>
	<body>
		{% if 'email' in session %}
    		<a href='/'>Main Blog Page </a><span>&nbsp&nbsp&nbsp</span>
    		<a href='entry'>Add a Blog Entry </a>
    		{% endif %}

    		<div style='float: right'>
        {% if 'email' in session %}
        {{session['email']}}:&nbsp
        <a href="logout">logout</a>
        {% else %}  
            <a href="login">login</a> | <a href="register">register</a>
        {% endif %}
         
        </div> 
    		<center><h1>{{title}}</h1></center>
		
		{% with messages = get_flashed_messages(with_categories=True) %} <!-- set messages equal to 
													 whatever is in flashed messages, but the message variable  is limited to this with block, also this
													 clears the messages, with_categories gets the category -->									 
			<ul>
			{% for category, message in messages %}
				<li class={{category}}>{{message}}</li>
			{% endfor %}
			</ul>

		{% endwith %}
		
		{% block content %}
		{% endblock %}

	</body>
</html>