{% extends "base.html" %} 

{% block content %}

<body>
<h1>Resister</h1>
<form action="/register" method="POST">
	<table>
		
		<tr>
			<td><label>Email</label></td>
			<td><input name="email" type="email" value="{{form_email}}"></td>
			{% if e_mail_error and e_mail_error !='None'%}
			<td class='error'>{{ e_mail_error }}</td>
			{% endif %}
		</tr>	
		<tr>
			<td><label>Password</label></td>
			<td><input name="password" type="password" /></td>
			{% if pass_word_error and pass_word_error !='None' %}
			<td class='error'>{{ pass_word_error }}</td>
			{% endif %}
		</tr>
		<tr>
			<td><label>Verify Password</label></td>
			<td><input name="vpassword" type="password" /></td>
			{% if vpass_word_error and vpass_word_error !='None' %}
			<td class='error'>{{ vpass_word_error }}</td>
			{% endif %}
		</tr>
		
	</table>

	<label><input type="submit" value="Register"/></label>
</form>
</body>
{% endblock %}