

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/all_posts">all posts</a></li>
      <li class="active"><a href="/entry">new post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if 'email' in session %}
        <li><a href="{{ url_for('single_user_posts', email=session['email'])}}"><span class="glyphicon glyphicon-user"></span> {{session['user_name']}}</a></li>
        <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {%else%}
        <li><a href="login"><span class="glyphicon-log-in"></span> Login</a></li>
        <li><a href="register"><span class="glyphicon glyphicon-plus"></span> register</a></li>
      {%endif%}
    </ul>
  </div>
</nav>
