		{% extends "base.html" %}

		{% block content %}
		<h1>Get It Done!</h1>
		<form method = 'POST'>
			<label>
				New Task:
				<input type='text' name='task' />
			</label>
			<input type="submit" value='Add Task' />
		</form>
		<hr>

		{% if tasks|length == 0%}
		<p>No tasks yet</p>
		{% else %}
			<ul>
				{% for task in tasks %}
				<li>
					<form method="POST" action='/delete-task'>
						<input type="hidden" name="task-id" value="{{task.id}}"/>
						{{task.name}} <input type="submit" value="Done"/>
					</form>
				</li>
				<br>
				{% endfor %}
			</ul>

		{% endif %}
		{% if completed_tasks|length == 0%}
		<p></p>
		{% else %}
		<hr>
		<h2>Completed</h2>
		<ul>
			{% for task in completed_tasks %}
			<li>{{task.name}}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endblock %}
		